<link href="~/Content/douModal.css" rel="stylesheet" />
@using Dou.Misc.Extension
@Html.DataManagerOptionsJavascript(".data-manager-container_", "douoptions")
@Html.MenuMap()

@Html.DataManagerTable()
<table class="data-manager-container data-manager-container_"> </table>
